jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  
  strategy:
    matrix:
      py37:
        python.version: '3.7'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      addToPath: true

  - script: |
      python -m pip install --upgrade pip
      python -m pip install --upgrade setuptools
      python -m pip install -r requirements.txt
    displayName: Install requirements.txt

  - script: |
      sh ./build.sh
      python setup.py develop
    displayName: Build the library and tests

  - script: |
      cd out/Linux
      ./ortcustomops_test
    displayName: Run the native only unit tests

  - script: |
      python -m pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: |
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: |
      python -m pytest test
    displayName: Run python test

- job: macOS
  pool:
    vmImage: 'macOS-latest'

  strategy:
    matrix:
      py37:
        python.version: '3.7'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      addToPath: true

  - script: |
      python -m pip install --upgrade pip
      python -m pip install --upgrade setuptools
      python -m pip install -r requirements.txt
    displayName: Install requirements.txt

  - script: |
      sh ./build.sh
      python setup.py develop
    displayName: Build the library and tests

  - script: |
      cd out/Darwin
      ./ortcustomops_test
    displayName: Run the native only unit tests

  - script: |
      python -m pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: |
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: |
      python -m pytest test
    displayName: Run python test

- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name pyenv -c conda-forge python=3.7 numpy
    displayName: Create Anaconda environment

  - script: |
      call activate pyenv
      python -m pip install --upgrade pip
      python -m pip install -r requirements.txt
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements.txt

  - script: |
      call activate pyenv
      echo Test numpy installation... && python -c "import numpy"
      call .\build.bat
      python setup.py develop
    displayName: Build the custom-op library

  - script: |
      .\out\Windows\RelWithDebInfo\ortcustomops_test.exe
    displayName: Run C++ Test

  - script: |
      call activate pyenv
      python -m pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: |
      call activate pyenv
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: |
      call activate pyenv
      python -m pytest test
    displayName: Run python test
