jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: |
    sh ./build.sh -DENABLE_PYTHON=OFF
# - job: macOS
#   pool:
#     vmImage: 'macOS-latest'
#   steps:
#   - script: echo hello from macOS
- job: Windows
  pool:
    vmImage: 'windows-latest'

  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name pyenv -c conda-forge python=3.7 numpy
    displayName: Create Anaconda environment

  - script: |
      call activate pyenv
      python -m pip install --upgrade pip
      python -m pip install -r requirements.txt
    displayName: Install requirements.txt

  - script: |
      call activate pyenv
      echo Test numpy installation... && python -c "import numpy"
      call .\build.bat
    displayName: Build the custom-op library

  - script: |
      call activate pyenv
      .\out\Windows\RelWithDebInfo\ortcustomops_test.exe
    displayName: Run C++ Test

  - script: |
      call activate pyenv
      python -m pip install -e out\Windows\RelWithDebInfo
    displayName: Install the custom-op library

  - script: |
      call activate pyenv
      python -m pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: |
      call activate pyenv
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: |
      call activate pyenv
      python -m pytest test
    displayName: Run python test
