#######
# Linux
#######

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  
  strategy:
    matrix:
      py38:
        python.version: '3.8'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      addToPath: true

  - script: |
      python -m pip install --upgrade pip
      python -m pip install --upgrade setuptools
      python -m pip install -r requirements.txt
    displayName: Install requirements.txt

  - script: |
      sh ./build.sh
      python setup.py develop
    displayName: Build the library and tests

  - script: |
      cd out/Linux
      ./ortcustomops_test
    displayName: Run the native only unit tests

  - script: python -m pip install torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio==0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: python -u test/test_math_ops.py --verbose
    displayName: Run test_math_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_upper_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_replace_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_to_hash_bucket_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_equal_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_join_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose -k test_string_split_cc
    displayName: Run test_string_ops.py

  - script: python -u -X faulthandler test/test_string_ops.py --verbose
    displayName: Run test_string_ops.py

  - script: python -u test/test_gpt2tok.py --verbose
    displayName: Run test_gpt2tok.py

  - script: python -m pytest test
    displayName: Run python test

#######
# macOS
#######

- job: macOS
  pool:
    vmImage: 'macOS-latest'

  strategy:
    matrix:
      py38:
        python.version: '3.8'
    maxParallel: 1

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      addToPath: true

  # needed for onnxruntime
  - script: brew install libomp
    displayName: 'Install omp'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install --upgrade setuptools
      python -m pip install -r requirements.txt
    displayName: Install requirements.txt

  - script: python -c "import onnxruntime;print(onnxruntime.__version__)"
    displayName: Check installation

  - script: |
      sh ./build.sh
      call activate pyenv
      python setup.py develop
    displayName: Build the library and tests

  - script: |
      cd out/Darwin
      ./ortcustomops_test
    displayName: Run the native only unit tests

  - script: python -m pip install -r requirements-dev.txt
    displayName: Install requirements-dev.txt

  - script: python -m pip install torch torchvision torchaudio
    displayName: Install pytorch

  - script: python -m pytest test --verbose
    displayName: Run python test

#########
# Windows
#########

- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name pyenv -c conda-forge python=3.8 numpy
    displayName: Create Anaconda environment

  - script: |
      call activate pyenv
      python -m pip install --upgrade pip
      python -m pip install -r requirements.txt
      python -m pip install -r requirements-dev.txt
    displayName: Install requirements.txt

  - script: |
      call activate pyenv
      echo Test numpy installation... && python -c "import numpy"
      call .\build.bat
      python setup.py develop
    displayName: Build the custom-op library

  - script: |
      .\out\Windows\RelWithDebInfo\ortcustomops_test.exe
    displayName: Run C++ Test

  - script: |
      call activate pyenv
      python -m pip install torch==1.7.1+cpu torchvision==0.8.2+cpu torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
    displayName: Install pytorch

  - script: |
      call activate pyenv
      python -m pytest test
    displayName: Run python test
