# build, distribute, and bins (+ python proto bindings)
mybuild.*
build
build_host_protoc
build_android
build_ios
build_*
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-debug
gen
*~
.vs
TestResults/
.idea/
onnxruntime.egg-info
nuget_root/
.packages/
.vscode/
*.code-workspace
__pycache__
out/
