# build, distribute, and bins (+ python proto bindings)
mybuild.*
build
build_host_protoc
build_android
build_ios
build_*
.venv/
_subbuild/
.build_debug/*
.build_release/*
distribute/*
dist/
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build*
_selectedoplist.cmake
gen
local.properties
.DS_Store
*~
.vs
*-checkpoint.ipynb
.ipynb_checkpoints/
/tutorials/*.onnx
/tutorials/**/bin/
/tutorials/**/obj/
/tutorials/**/libs/
Testing/
TestResults/
.idea/
nuget_root/
.packages/
.vscode/
*.code-workspace
__pycache__
out/
*.egg-info/
.scb/
onnxruntime_extensions/_version.py
onnxruntime-*-*-*/
temp_*onnx*
# Java specific ignores
*/.gradle
java/hs_*.log
*.class
# Compiled Dynamic libraries
*.so
*.dylib
*.pyd
/test/data/ppp_vision/*.updated.onnx
/test/data/generated/
