pytest
numpy            < 2.0.0
onnx             >=1.9.0
protobuf         < 4.0.0
# multiple versions of onnxruntime are supported, but only one can be installed at a time
onnxruntime      >=1.12.0
transformers     >=4.9.2
tensorflow_text  >=2.5.0;python_version < '3.11'
requests         >=2.26.0
sentencepiece
scipy
