# include requirements.txt so pip has context to avoid installing incompatible dependencies
-r requirements.txt
pytest
ftfy
# multiple versions of onnxruntime are supported, but only one can be installed at a time
protobuf         < 4.0.0
onnxruntime      >=1.12.0
transformers     >=4.9.2
tensorflow_text  >=2.5.0;python_version < '3.11'
requests         >=2.26.0
